<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Official NuGet feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!-- Telerik feed -->
    <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="shuqing.wang.ctr@dot.gov" />
      <add key="ClearTextPassword" value="hpmstmas" />
    </Telerik>
  </packageSourceCredentials>
</configuration>
