<div class="disclaimer">
    <h5>Disclaimer</h5>

    <div class="fs-6 fw-semibold">23 - UNITED STATES CODE<br />
        SECTION 409 - DISCOVERY AND ADMISSION AS EVIDENCE OF CERTAIN REPORTS AND SURVEYS</div>

    <div class="fs-6">
        Notwithstanding any other provision of law, reports, surveys, schedules, lists, or data compiled or collected
        for the purpose of identifying, evaluating, or planning the safety enhancement of potential accident sites, hazardous
        roadway conditions, or railway-highway crossings, pursuant to Sections 130, 144, and 152 of this title or for the purpose
        of developing any highway safety construction improvement project which may be implemented utilizing Federal-Aid highway
        funds shall not be subject to discovery or admitted into evidence in a federal or state court proceeding or considered
        for other purposes in any action for damages arising from any occurrence at a location mentioned or addressed in such
        reports, surveys, schedules, lists, or data.
    </div>
</div>

