<footer class="site-footer footer media-body">
    <div class="container">
        <div class="site-footer__top">
            <section class="region region-footer-left">
                <div id="block-footercontactinfo" class="block block-fixed-block-content block-fixed-block-contentfooter-contact-info">
                    <div class="content">
                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p>
                                U.S. DEPARTMENT OF TRANSPORTATION<br />
                                <strong>Federal Highway&nbsp;Administration</strong><br />
                                1200 NEW JERSEY AVENUE, SE<br />
                                WASHINGTON, DC 20590<br />
                                202-366-4000<br />
                            </p>
                        </div>
                    </div>
                </div>
            </section>

           @*  <section class="region region-footer-second">
                <nav aria-labelledby="block-footerprogramareas-menu" id="block-footerprogramareas" class="navigation menu--footer---program-areas">
                    <div class="content">
                        <h5 id="block-footerprogramareas-menu">SNBI Data Validation Tool</h5>

                        <div class="clearfix nav-item">
                            <p>
                                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                                <NavLink class="nav-link" href="instructions">Instructions</NavLink>
                                <NavLink class="nav-link" href="admin">Admin</NavLink>

                            </p>
                        </div>
                    </div>
                </nav>
            </section> *@
            <section class="region region-footer-right">
                <div id="block-footersocial-2" class="block block-fixed-block-content block-fixed-block-content footer-social">


                    <div class="content">

                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p><a class="subscribe-button" href="https://public.govdelivery.com/accounts/usdotfhwa/subscribers/new">Subscribe to FHWA email updates</a></p>
                            <ul class="footer-social">
                                <li><a href="https://www.facebook.com/FederalHighwayAdmin"><span class="fontawesome-icon-inline"><i class="fab fa-facebook" aria-label="Facebook"></i></span></a></li>
                                <li><a href="https://twitter.com/USDOTFHWA"><span class="fontawesome-icon-inline"><i class="fab fa-twitter" aria-label="Twitter"></i></span></a></li>
                                <li><a href="https://www.flickr.com/photos/fhwa/"><span class="fontawesome-icon-inline"><i class="fab fa-flickr" aria-label="Flickr"></i></span></a></li>
                                <li><a href="https://www.instagram.com/federalhighwayadmin/"><span class="fontawesome-icon-inline"><i class="fab fa-instagram" aria-label="Instagram"></i></span></a></li>
                                <li><a href="https://www.youtube.com/user/USDOTFHWA"><span class="fontawesome-icon-inline"><i class="fab fa-youtube" aria-label="YouTube"></i></span></a></li>
                                <li><a href="https://www.linkedin.com/company/federal-highway-administration"><span class="fontawesome-icon-inline"><i class="fab fa-linkedin" aria-label="LinkedIn"></i></span></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>

        </div>

        <div class="site-footer__bottom">
            <section class="region region-footer-left">
                <nav aria-labelledby="block-footerpoliciesrightslegal-menu" id="block-footerpoliciesrightslegal" class="block block-menu navigation menu--footer---policies-rights-le">

                    <h5 id="block-footerpoliciesrightslegal-menu">Policies, Rights, Legal</h5>

                    <ul block="block-footerpoliciesrightslegal" class="clearfix nav">
                        <li className="nav-item">
                            <a href="https://www.transportation.gov/about" className="nav-link">About DOT</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.transportation.gov/budget/dot-budget-and-performance" className="nav-link">Budget and Performance</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.civilrights.dot.gov/" className="nav-link">Civil Rights</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.fhwa.dot.gov/foia/" className="nav-link">FOIA</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.transportation.gov/dot-information-dissemination-quality-guidelines" className="nav-link">Information Quality</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.civilrights.dot.gov/civil-rights-awareness-enforcement/employment-related/affirmative-employment/no-fear-act" className="nav-link">No FEAR Act</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.oig.dot.gov/" className="nav-link">Office of Inspector General</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.fhwa.dot.gov/privacy.cfm" className="nav-link">Privacy Policy</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.usa.gov/" className="nav-link">USA.gov</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.transportation.gov/web-policies" className="nav-link">Web Policies and Notices</a>
                        </li>
                        <li className="nav-item">
                            <a href="https://www.transportation.gov/web-standards" className="nav-link">Web Standards</a>
                        </li>
                    </ul>

                </nav>
            </section>
        </div>

    </div>

</footer>