@using Microsoft.AspNetCore.Components.Authorization
<div class="navbar navbar-expand-md navbar-dark nbi-navmenu">
    <div class="container-fluid nav-container">
        <a class="navbar-brand brand" href="">National Bridge &amp; Tunnel Inventory System (NBTIS)</a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto nav-links">
                <li class="nav-item nbi-nav-item">
                    <NavLink class="nav-link nbi-menu-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>

                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item nbi-nav-item">
                            <NavLink class="nav-link nbi-menu-link" href="submittals">
                                Submittals
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Reviewer,Admin,Owner">
                    <Authorized>
                    <li class="nav-item nbi-nav-item">
                        <NavLink class="nav-link nbi-menu-link" href="divisionapprovals">
                            Division Approval
                        </NavLink>
                    </li>
                    </Authorized>
                </AuthorizeView>

         @*        <AuthorizeView Roles="Reviewer,Admin,Owner">
                    <Authorized>
                        <li class="nav-item nbi-nav-item">
                            <NavLink class="nav-link nbi-menu-link" href="datacorrection">
                                Data Correction
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView> *@              

                <li class="nav-item nbi-nav-item">
                    <NavLink class="nav-link nbi-menu-link" href="counter">
                        Data Export
                    </NavLink>
                </li>
                <li class="nav-item nbi-nav-item">
                    <NavLink class="nav-link nbi-menu-link" href="weather">
                        Reports
                    </NavLink>
                </li>
                <!-- Admin Dropdown Menu -->
                <AuthorizeView Roles="Admin,Owner">
                    <Authorized>
                        <li class="nav-item dropdown nbi-nav-item">
                            <a class="nav-link dropdown-toggle nbi-menu-link"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu nbi-dropdown">
                                <li>
                                    <NavLink class="dropdown-item" href="SubmissionStatus">Submission Status</NavLink>
                                </li>
                                <li>
                                    <NavLink class="dropdown-item" href="errorflags">Manage Error Flags</NavLink>
                                </li>
                            </ul>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <li class="nav-item nbi-nav-item">
                    <NavLink class="nav-link nbi-menu-link" href="relatedsites">
                        Related Sites
                    </NavLink>
                </li>

                <li class="nav-item nbi-nav-item">
                    <NavLink class="nav-link nbi-menu-link" href="weather">
                        Contacts
                    </NavLink>
                </li>
                <li class="nav-item nbi-nav-item">
                    <NavLink class="nav-link nbi-menu-link" href="weather">
                        Help
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

